{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
<div>
	{% for question in questions %}
		{{ afficher(question, 0, doctrine) | raw }}
		<hr>
	{% endfor %}
</div>
{% endblock %}
{% block javascripts %}
    <script>		
        $("select.form-control").select2();
	</script>
{% endblock %}
