<table class="table table-sm">
	<tr>
		<th>Nom</th>
		<td>{{ espece.nom }}</td>
	</tr>
	<tr>
		<th>Informations supplémentaires</th>
		<td>{{ espece.infoSup }}</td>
	</tr>
	<tr>
		<th>Pouvoirs</th>
		<td>{{ espece.pouvoirs }}</td>
	</tr>
	<tr>
		<th>Faiblesses</th>
		<td>{{ espece.faiblesses }}</td>
	</tr>
</table>