<div class="row" id="ajax_saison_episode_see">
    <div class="col-lg-12 col-sm-12 col-12">
    	<div class="row">
        	{% for episode in episodes %}
            	<div class="col-lg-4 col-md-6 col-12">
            		<a href="{{ path('episode_afficher', {'slug': episode.serie.slug, 'slug_episode': episode.slug}) | raw }}">
                		#{{ episode.numeroEpisode }} - {{ titre("episode", episode, app.session) }}
                	</a> 
        		</div>
        	{% endfor %}
    	</div>
	</div>
	<div class="col-lg-12 col-sm-12 col-12 text-center">
		{{ 'episode.num_episode'|trans({'num': episodes | length }) }}
    </div>
    
    {% if episodes is empty %}
		<div class="text-center empty-element"  style="width: 100%">
          	<p class="text-info text-center">Aucun épisode n'est associé à cette saison.</p>
		</div>
    {% endif %}
</div>