<div class="row">
    <div class="col col-4">
    	<b>{% trans %}utilisateur.pseudo{% endtrans %}:</b> {{ utilisateur.username }}
    </div>
    <div class="col col-4">
    	<b>{% trans %}utilisateur.prenom{% endtrans %}:</b> {{ utilisateur.prenom }}
    </div>
    <div class="col col-4">
    	<b>{% trans %}utilisateur.nom{% endtrans %}:</b> {{ utilisateur.nom }}
    </div>
</div>