{% for tag in photo.tag %}
	<span class="badge badge-pill badge-yampire">
	    {{ tag.nom }} 
	    <span class="supprimer" data-link="{{ path('photo_tag_supprimer', { 'photo_id': photo.id, 'tag_id': tag.id }) }}">
	    	<i class="fas fa-times"></i>
	    </span>
	</span>
{% endfor %}
{% block javascripts %}
	<script type="text/javascript">
	$( document ).ready(function() {
		$(".supprimer").click(function(){
			Ajax($(this).data('link'), "#photo_tag");
		});
	});
	</script>
{% endblock %}