<div class="center_div text-center">
    {% for tag in photo.tags %}
    	<span class="badge badge-pill badge-yampire">
    	    {{ tag.nom }} 
    	    <span class="supprimer" data-link="{{ path('photo_tag_supprimer', { 'photo_id': photo.id, 'tag_id': tag.id }) }}">
    	    	<i class="fas fa-times"></i>
    	    </span>
    	</span>
    {% endfor %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    	<span class="badge badge-pill badge-yampire ajouter" href="{{ path('photo_tag_ajouter', { 'photo_id': photo.id }) }}">
    		<i class="fas fa-plus"></i>
    	</span>
	{% endif %}
</div>
{% block javascripts %}
	<script type="text/javascript">
	$( document ).ready(function() {
		$(".supprimer").click(function(){
			Ajax($(this).data('link'), "#photo_tag");
		});
        OuvrirModal('.ajouter', '#modal_photo');
	});
	</script>
{% endblock %}