{% extends 'base.html.twig' %}

{% block title %} Photo: {{ photo.nom }} {% endblock %}

{% block body %}
	<div class="row photo">
		<div class="col-12">
    	    {{ photo(photo, "w-auto") | raw }}
    	</div>
    	<div class="col-12" id="photo_tag"></div>
	</div>
    
    <div class="modal" tabindex="-1" role="dialog" id="bloc_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id ="modal_photo">
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/tabs.js') }}"></script>
	<script type="text/javascript">
	$( document ).ready(function() {
		Ajax("{{ path('photo_tag_afficher', { 'photo_id': photo.id }) }}", "#photo_tag");
	});
	</script>
{% endblock %}