<div class="center_div text-center">
    {% for tag in photo.tags %}
    	<span class="badge badge-pill badge-yampire">
    	    {{ tag.nom }} 
    	    <span class="supprimer" data-link="{{ path('photo_tag_supprimer', { 'photo_id': photo.id, 'tag_id': tag.id }) }}">
    	    	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    	    		<i class="fas fa-times"></i>
    	    	{% endif %}
    	    </span>
    	</span>
    {% endfor %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    	<span id="add_tag" class="min-w">
        	<span class="badge badge-pill badge-yampire ajouter" data-link="{{ path('photo_tag_ajouter', { 'photo_id': photo.id }) }}">
        		<i class="fas fa-plus"></i>
        	</span>
    	</span>
	{% endif %}
</div>
{% block javascripts %}
	<script type="text/javascript">
	$( document ).ready(function() {
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    		$(".supprimer").click(function(){
    			Ajax($(this).data('link'), "#photo_tag");
    		});
    		$(".ajouter").click(function(){
    			Ajax($(this).data('link'), "#add_tag");
    		});
        {% endif %}
	});
	</script>
{% endblock %}