<div id="ajax_personnage_serie_supprimer">
    <div class="modal-header">
        <h5 class="modal-title">
            Supprimer un personnage à la série {{ titre("serie", serie, app.session) }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
    	<div class="row">
    		<div class="col col-12 w-100">
    			<div class="form-group">
    				<label for="personnages">Personnages</label>
    				<select></select>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="modal-footer">
        <button type="submit" id="delete" name="delete" class="btn btn-dark btn">
        	Supprimer
        </button>
    </div>
</div>
{% block javascripts %}
    <script>
        $('#bloc_modal').modal({
            'show' : true,
            'backdrop' : 'static'
        });
        
		$("select").select2();
        
        var url = '{{ path('ajax_supprimer_personnage_serie', {'slug':serie.slug}) }}';
        var url_base = '{{ path('ajax_afficher_personnages', {'id':serie.id, 'type':'serie'}) }}';
        SubmitModal("personnage_serie", url, "#bloc_modal", url_base, "#bloc_serie");
    </script>
{% endblock %}
